<?xml version="1.0" encoding="UTF-8"?>




<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd">
	  
  
	<bean class="assignments.assignment1.classes.Address" name="address1">
            <property name="street" value="Street 1, Kanji mohalla" />
            <property name="city" value="Mumbai" />
            <property name="country" value="India" />
            <property name="state" value="Maharashtra" />
            <property name="zip" value="613270" />
        </bean>

        

</beans>